body
{
	min-width: 200px;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
#domainsList{
    list-style: none;
    padding: 0;
    margin: 0;

}
#domainsList li{
    font-size: 1.0em;
    padding: 2px;
    border-bottom: 1px solid #999;

}
#domainsList li a{
    display: block;
    width: 100%;
    margin-left: 10px;
}

#domainsList li:hover{
    background-color: #dfdfdf;
    font-weight: bold;
}